<div><strong>Bedő Marci,</strong></div>
<div>Titk&aacute;r (S&aacute;li&aacute;h)</div>
<div>Hasomer Hacair Magyarorsz&aacute;g</div>
<div><a href="https://somer.hu/" target="_blank">somer.hu</a>&nbsp;|&nbsp;<a href="https://somer.hu/kepek" target="_blank">gal&eacute;ria</a></div>
<div><a href="https://www.facebook.com/hasomerhacair" target="_blank">facebook</a>&nbsp;|&nbsp;<a href="https://www.instagram.com/hasomerhacairhu/" target="_blank">instagram</a>&nbsp;|&nbsp;<a href="https://www.youtube.com/@hasomerhacairhu" target="_blank">youtube</a>&nbsp;|&nbsp;<a href="https://somer.hu/discord" target="_blank">discord</a></div>
<div>+36-70-HA-SO-MER</div>
<div><span style="color: #eeeeee; font-size: xx-small;">(+36-70-42-76-637)</span></div>